.page {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.page__wrapper {
    max-width: 880px;
    margin: 45px auto 60px;
}