.profile {
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit-image {
  background: url(../images/profile-edit-image.svg) center no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  margin: 47px;
  z-index: -1;
}

.profile__image:hover {
  opacity: 0.2;
  cursor: pointer;
}

.profile__info {
  display: grid;
  grid-template-areas: "name button" "description description";
  grid-gap: 7px 18px;
  margin: 22px auto 21px 30px;
  padding: 0;
  width: 415px;
}

.profile__name {
  grid-area: name;
  max-width: 373px;
  font-weight: 500;
  line-height: 48px;
  font-size: 42px;
  margin: 0;
  padding: 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile__description {
  grid-area: description;
  max-width: 415px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 0;
  background-color: transparent;
  background-image: url(../images/edit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.1s linear;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 0;
  background-color: transparent;
  background-image: url(../images/add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.1s linear;
  margin: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 885px) {
  .profile {
    flex-direction: column;
  }
  .profile__info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto 36px;
    grid-gap: 14px 10px;
  }
  .profile__add-button {
    width: 282px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    padding-top: 42px;
  }
  .profile__info {
    width: 282px;
  }
  .profile__name {
    max-width: 196px;
    font-size: 22px;
    line-height: 27px;
  }
  .profile__description {
    width: 282px;
    font-size: 14px;
    line-height: 17px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
